// background-image: url("/assets/img/samatha.jpg");
// background-repeat: no-repeat;
// background-color: #cccccc;
// height: 100vh;
// background-size: cover;
.overlay {
  height: 100vh;
  width: 100%;
  background-image: url("/assets/img/BG.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: absolute;
}
p {
  display: block;
  color: #ffffff;
}
.overlay1 {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 0;
  background: #2ecc71;
}
.overlay2 {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
  background: #34e7e4;
}
button {
  // margin-top: 300px;
  display: block;
  font-size: 1.4rem;
  height: 10%;
  width: 10%;
  background: transparent;
  border: 0px;
  color: #ffffff;
  cursor: crosshair;
  outline: 0;
}
.custom-td{
  border: 10px solid #ffffff;
  padding: 10px;
  cursor: crosshair;
}